.layout{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main-content{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 82vh;
}
.nav-bar{
    width: 33%;
    padding: 20px;
    background-color: aliceblue;
}
.outlet{
    overflow: scroll;
    width: 80%;
}
